psycopg2-binary
psycopg2.extras
datetime
alpha_vantage.cryptocurrencies
alpha_vantage.techindicators
pandas
matplotlib.pyplot
plotly.express
plotly.graph_objects
seaborn
numpy
streamlit
streamlit_extras.stylable_container 
